# Site assets
#------------
assets/

# bower downloads
# ---------------
bower_components/


# Sass-related files
# ------------------
*.sass-cache


# General all-around files
# ------------------------
*.DS_Store
*Thumbs.db
*.pot
*.svg
*.localized
*.psd
*.ai
*.eps


# Node-related files
# ------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
logs
results
npm-debug.log
tmp


# Wordpress-related files
# ------------------------
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# Wordpress-related files added by kaidez
# ---------------------------------------
plugins/

# Sitemap generated for unCSS
# ---------------------------------------
sitemap.json

index.php
notes.md
private-notes.md