// Move the main h1/logo to the left
.site-title {
	text-align: left;
}

// Move the main h1/logo to the left
.home-link {
	display: inline-block;
}

// left-align & center menu items
.menu-item {
	list-style-type: none;
	text-align: left;
	display: inline-block;
}
