// Make sure the entire page stretches to the botton
html, body, .site, .site-main {
	min-height: 900px;
}

.site {
	width: 100%;
	overflow-x: hidden;
}

// Globally style all the site text
body {
	max-width: 100%;
	font-family: 'Quicksand', sans-serif;
}

// Globally hide the home page's content title
.home .entry-title {
	.ti();
}

// Move the main h1/logo to the left
.site-title {
	text-align: left;
}

// Globally center the header
.site-header {
	margin: 0 auto;
}

// Remove extra bottom padding from the navbar
.navbar{
	margin-bottom: 0;
}

// Style the footer
.site-footer {
  height: 42px;
  min-width: 320px;
  width: 100%;

	color: rgba(255, 255, 255, 1);
	background-color: rgba(171, 171, 171, 1);
	font-size: 13px;
	font-weight: 900;
}

// Add side margin to the footer content
.site-footer-inner {
	margin: 0 20px;
}

// Move the main h1/logo to the left
.home-link {
	display: inline-block;
}

/*
* =====================================================================
* Start main navigation styling
* Most of this was brought over from the "twentythirteen" stylesheet
* =====================================================================
*/

// left-align & center menu items
.menu-item {
	list-style-type: none;
	margin-right: 7px;

	text-align: left;
}

// Hide the menu header tag
.main-navigation-header {
	.hide-element();
}

.main-navigation {
	clear: both;
	margin: 0 auto;
	max-width: 1080px;
	position: relative;
}

// Reduce left padding in the main nav
.nav-menu {
	padding-left:11px;
}

// ".nav-menu" is the <ul> that contains all the page links
// links are, obviously, in an <li>
// Lots of styling for those elements
.nav-menu li {
	display: inline-block;
	position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

// Style link states
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	background-color: #220e10;
	color: #fff;
}

// Style sub-menu links
.sub-menu li {
	width: 200px;
}

// Style link the services sub-menu
.nav-menu .sub-menu,
.nav-menu .children {
	border-top: 0;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	background-color: #220e10;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	margin: 0;
	width: 200px;

	color: #fff;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
	background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

/*
 * ====================================================================
 * End main navigation styling
 * ====================================================================
 */

// Space out the two rows on the home page
.homepage-row {
	.bootstrap-row-margins();
  max-width: 700px;
}



// Space out the two rows on the home page
.content-row {
	.bootstrap-row-margins();
}




// Set some elements in Bootstrap's "row" class to be 300px and centered
.row-inner-element {
	margin: 0 auto;
	max-width: 277px;
}

// Make the font size of the home page's "artist" copy bigger
.art-exhibits-header {
	font-size: 40px;
}

// Hide copy inside the <span> of the Facebook link
.facebook-link-text {
	.hide-element();
}


/*
 * ====================================================================
 * Start content navigation styling
 * ====================================================================
 */

// Style pseudo classes for all links EXCEPT the map links
a {
  color: rgba(37, 184, 192, 1);
  text-decoration: underline;

  &:hover {
    color: rgba(37, 184, 192, 1);
    text-decoration: none;
  }

  &:visited	 {
    color: rgba(37, 184, 192, 1);
    text-decoration: none;
  }

}

// Style pseudo classes for the map link
a.map-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding: 0 14px;

  &:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
  }

  &:visited	 {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

}

.menu-item a {
  color: rgba(105, 103, 103, 1);
  text-decoration: none;

  &:hover {
    color: rgba(105, 103, 103, 1);
    text-decoration: none;
  }

  &:visited	 {
    color: rgba(105, 103, 103, 1);
    text-decoration: none;
  }
}




.sub-menu .menu-item a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	&:hover	 {
		color: rgba(255, 255, 255, 1);
		text-decoration: none;
	}

	&:visited	 {
		color: rgba(255, 255, 255, 1);
		text-decoration: none;
	}

}

/*
 * ====================================================================
 * Home Page: Unique page class generated by WP: "page-id-4"
 * ====================================================================
 */

// Center the invite on the home page
.artist-invite {
	text-align: center;
}

/*
 * ====================================================================
 * Services Page stuff
 * ====================================================================
 */

// Most service titles are two line but some that are one-line
// HTML code is changed in WordPress CMS to accomadate
// End result: some <h2> tags need to be hidden
.hide-service-title {
	.ti();
	margin: 0;		
}


// Style the <h2> headers on each service...MEN, WOMEN, etc...
.service-page-section-headers {
  font-size: 16px; 
}

 // List of services
.service-list {
  padding-left:20px;
  margin-top: 50px;
}

// A single service list item
.service-list-item {
	margin-bottom:20px;
}

// Style each block of service prices
.service-section {
	  display: inline-block;
	  max-width: 440px;
	  max-width: 300px;
}

// Set service names/prices are in span tags to display: inline-block
// Set their width & font-size
.single-service-copy {
  display: inline-block;
  width: 208px;

  font-size: 16px;
}

// Style the service price text
.service-price {
  position: relative;
  left: 160px;
}

// Place "$" before each price
.service-price::before { 
  content: "$";
}

// Some services have descriptions...set their font-size
.service-description-copy {
	font-size: 14px;
}

/*
 * ====================================================================
 * Product Page stuff
 * ====================================================================
 */
.product-links-header {
	margin-top:50px;
}


/*
 * ====================================================================
 * Contact Page stuff
 * ====================================================================
 */
.contact-page-test {
	margin-bottom:50px;
}

/*
 * ====================================================================
 * Makeup/Waxing Page: Unique page class generated by WP: "page-id-97"
 * ====================================================================
 */
.page-id-97 .single-service-container {
  margin-bottom:20px;
}

/*
 * ====================================================================
 * Exhibits Page: Unique page class generated by WP: "page-id-27"
 * ====================================================================
 */
.artist-header {
  font-size: 25px;
  font-weight: 900;
  margin-bottom:0;
}


/*
 * ====================================================================
 * Team Member Page: Unique page class generated by WP: "page-id-24"
 * ====================================================================
 */

// Globally remove margin-top from all team names
.team-member-name {
	margin-top:0;
}

/*
 * ====================================================================
 * Sitemap Page: Unique page class generated by WP: "page-id-353"
 * ====================================================================
 */

// Remove bullets from <li> tags on the Sitemap page
#post-353 {
	li {
    list-style-type: none;
    text-transform: capitalize
  }
} 


// Push hours & Sitemap link all the way right
.hours, .sitemap-link {
	float: right;
}

 // Style the footer link
.sitemap-link a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: bolder;

   &:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  &:visited	 {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}