@media (min-width: 768px) {



	.menu-toggle {
	  display: none;
	}

	// Style the contact info bar at the top of every page
	.contact-information {
		background-color: #363030;
		color: rgba(255, 255, 255, 1);
		text-align: center;
		padding:2px 0;
	}

	.contact-information-inner, .site-footer-inner {
		max-width: 900px;
		margin: 0 auto;
	}

	// Style all <span> tags in the ".contact-information" element
	.contact-information-element {
		display: inline-block;
	}

	.phone-number {
		float: left;
	}

	.hours {
		float: right;
	}

	.navbar {
		max-width: 600px;
	  display: inline-block;
	  left: 47px;
	}
}
