@media (min-width: 1200px) {

  // The site's main containing element
  .page {
    width: auto;
    margin: 0 auto;
  }

  .navbar {
    float: right;
    top: 30px;
    left: 8px;
  }

   // Limit the header's width to 900px
  .site-header {
    max-width: 900px;
  }

  // Set a home page min-height forcing the footer to the bottom
  .home .site-main {
    min-height: 800px;
  }

  // Style the footer on desktops
  .site-footer {
    // Structure
    position: relative;
    height: 30px;

    // Style
    background: rgba(171, 171, 171, 1);
    color: rgba(54, 48, 48, 1);
  }

}
