// Logo mixin...this the only image on the site
.logo {
  text-indent: -999px;
  background-size: 270px 56px;
  width: 270px;
  height: 56px;
}




/*
 * HELPER CLASSES
 */

// Use the old school Yahoo trick for hiding page elements
// Read more at: http://yhoo.it/1vz3NVW
.hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
