// Logo mixin...this the only image on the site
.logo {
  background-size: 200px 41px;
  width: 200px;
  height: 41px;
  .ti();
}

// Facebook link
.facebook-image {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
}


.col-md-6-mixin {
  display: inline-block;
  vertical-align: top;
}


/*
 * HELPER CLASSES
 */

// Use the old school Yahoo trick for hiding page elements
// Read more at: http://yhoo.it/1vz3NVW
.hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


// Off-screen text-indent
.ti {
  text-indent: -999px;
}

// Off-screen text-indent
.center {
  margin: 0 auto;
}

// z-index mixins
// 5 or less should be fine, but plugin code may mean more are required
// WordPress can also get crazy with z-indexes (e.g. "z-index: 9999")
.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

/*
 * HELPER CLASSES END
 */






 .bootstrap-row-margins {
  margin: 0 auto 70px;
 }

