// Use the old school Yahoo trick for hiding page elements
// Read more at: http://yhoo.it/1vz3NVW
.hideElement {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
